* {
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	box-sizing: border-box;
	justify-content: center;
	font-size: 18px;
}

:root {
	/* colors */
	--clr-bg: #09080c;
	--clr-bg-primary: #18171f;
	--clr-bg-secondary: #24232c;
	--clr-grey: #817d92;
	--clr-light: #e6e5ea;
	--clr-accent: #a4ffaf;
	--clr-yellow: #f8cd65;
	--clr-orange: #fb7c58;
	--clr-red: #f64a4a;
}

html {
	display: flex;
	background: var(--clr-bg);
	color: var(--clr-light);
}

/* .App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */
